:root {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background-color: #f7e4cc;
}

h1{
  transform: translate(10%, 0%);
}
div.container {
  height: 10em;
  position: relative;
}

div.container {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container .img {
  width: 100%;
  height: auto;
  justify-content: center;
}

.pill1 {
  position: absolute;
  top: 50%;
  right: 90%;
  transform: scale(0.7);
  background-color: rgb(43, 43, 136);
  cursor: pointer;
  border-radius: 45px;
  transition-duration: 0.5s;
}

.pill2 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: scale(0.7);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 45px;
  transition-duration: 0.5s;
  background-color: rgb(119, 16, 16);
}

.pill1:hover {
  transform: scale(0.85);
  transition-duration: 1s;
  box-shadow: 0 15px 16px 0 rgba(17, 0, 255, 0.473),
    0 17px 50px 0 rgba(78, 96, 255, 0.19);
}

.pill2:hover {
  transform: scale(0.85);
  transition-duration: 1s;
  box-shadow: 0 15px 16px 0 rgba(187, 21, 21, 0.473),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn1:hover {
  box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.473),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.479),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.img_wrap {
  position: relative;
  margin-left: 25px;
}

.img_description {
  position: absolute;
  visibility: hidden;
  transform: scale(1.5);
  opacity: 0;
  margin-top: 50%;
}

.img_wrap:hover #fadeRed {
  visibility: visible;
  opacity: 1;
  margin-top: 300px;
  color:rgb(134, 15, 15);
  animation: fadeIn 1.8s;
}

.img_wrap:hover #fadeBlue {
  visibility: visible;
  opacity: 1;
  margin-top: 300px;
  margin-left: 17px;
  color:rgb(0, 0, 129);
  animation: fadeIn 1.8s;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.home {
  position: absolute;
  color: #2f4a6d;
  font-size: 20px;
  margin-left: 48.35%;
  font-weight: 800;
  animation: fadeinn 60s;
}

@keyframes fadeinn {
  0% {opacity:0;}
  100% {opacity:1;}
}